// Our variables
$base-font-family: "worksans", Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$base-heading-line-height: 1.2;
$base-margin-bottom: 1em;
$base-padding: $base-margin-bottom * 2;

$spacing-unit: 2em;

// site-wide colors
$text-color: #111;
$background-color: #fdfdfd;
$brand-color: #1f73e0;

// general colors
$white: #fff;
$black: #000;
$black-color-transparent: rgba($black, 0.6);
$green-color-lighter: rgba(221, 252, 173, 1);
$green-color-med-light: rgba(200, 224, 135, 1);
$green-color-med: rgba(149, 164, 114, 1);
$grey-color-light: rgba(129, 132, 123, 1);
$grey-color-dark: rgba(97, 99, 102, 1);
